<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBS_t3FzfSET1RLVnT7tznSQw2d6shtfHA</string>
	<key>GCM_SENDER_ID</key>
	<string>481183409135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bnezgirl.KratosCase</string>
	<key>PROJECT_ID</key>
	<string>kratos-case</string>
	<key>STORAGE_BUCKET</key>
	<string>kratos-case.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481183409135:ios:56cf6ac50959e8fc280c1a</string>
</dict>
</plist>